.calculator{
  width: 700px;
  height: 500px;

  display: grid;
  grid-row: 25%, 75%;

  padding: 50px;

  border-radius: 20px;
  border-bottom-right-radius: 150px;

  background-color: #FFF;
}

@media(max-width: 850px){
  .calculator {
    width: 350px;
  }
}