@font-face {
  font-family: Poppins-Bold;
  src: url('./fonts/Poppins-Bold.ttf');

  font-family: Poppins-BoldItalic;
  src: url('./fonts/Poppins-BoldItalic.ttf');

  font-family: Poppins-ExtraBold;
  src: url('./fonts/Poppins-ExtraBold.ttf');

  font-family: Poppins-ExtraBoldItalic;
  src: url('./fonts/Poppins-ExtraBoldItalic.ttf');

  font-family: Poppins-Italic;
  src: url('./fonts/Poppins-Italic.ttf');

  font-family: Poppins-Regular;
  src: url('./fonts/Poppins-Regular.ttf');
}

* {
  font-family: Poppins-Regular;
  margin: 0;
}

body {
  background-color: #F0F0F0;

  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}